@{
    Layout = null;
    var fileName = ViewData["FileName"] as string ?? "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@fileName - PDF Viewer</title>
    <link rel="stylesheet" href="~/css/pdf-viewer.css" asp-append-version="true" />
</head>
<body>
    <iframe class="pdf-frame" src="/js/pdfjs/viewer.html?file=/Pdf/Stream/@fileName"></iframe>
</body>
</html>
